.apps {

  .thumbnail {
    text-align: center;
    background-color: transparent;
    border-width: 5px;

    i {
      font-size: 96px;
      color: #FFF;
    }
  }

  h3 {
    text-align: center;
    font-size: 36px;
    color: #FFF;
    margin-bottom: 96px;
  }
}
